@import "../../../utils/converterPxToRem.scss";

.inputWrap {
  margin-top: converterToRem(16);
  display: flex;
  align-items: center;
  position: relative;

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: converterToRem(8);
    font-size: converterToRem(12);
    cursor: help;
  }
}
