@import "../../../utils/converterPxToRem.scss";
@import "../../styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: converterToRem(40);
    border-radius: converterToRem(8);
    align-self: center;
    width: converterToRem(400);
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: converterToRem(20);
      text-transform: uppercase;
    }
    .submitButton {
      margin-top: converterToRem(32);
      &:disabled {
        background-color: $disabledBackground;
        color: $disabledColor;

        &:hover {
          opacity: 1;
        }

        cursor: not-allowed;
      }
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: converterToRem(16);
      cursor: pointer;
      transition: text-decoration 0.2s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
