@import "../../styles/colors.scss";
@import "../../../utils/converterPxToRem.scss";

.spinner {
  display: inline-block;
  position: relative;
  width: converterToRem(80);
  height: converterToRem(13);

  &.negative {
    div {
      background: $white;
    }
  }

  div {
    position: absolute;
    top: 0px;
    width: converterToRem(13);
    height: converterToRem(13);
    border-radius: 50%;
    background: $primaryLight;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: converterToRem(8);
      animation: spinner1 0.6s infinite;
    }

    &:nth-child(2) {
      left: converterToRem(8);
      animation: spinner2 0.6s infinite;
    }

    &:nth-child(3) {
      left: converterToRem(32);
      animation: spinner2 0.6s infinite;
    }

    &:nth-child(4) {
      left: converterToRem(56);
      animation: spinner3 0.6s infinite;
    }
  }
}

@keyframes spinner1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spinner3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes spinner2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(converterToRem(24), 0);
  }
}
